There are 2 stages where error may happen in a program

- During compilation -> Syntax Error
- During execution -> Exceptions

### Syntax Error

- Something in the program is not written according to the program grammar.
- Error is raised by the interpreter/compiler
- You can solve it by rectifying the program

Other examples of syntax error

- Leaving symbols like colon,brackets
- Misspelling a keyword
- Incorrect indentation
- empty if/else/loops/class/functions

In [ ]:
# Examples of syntax error
print 'hello world'

SyntaxError: ignored

In [4]:
a = 5
if a==3
  print('hello')

SyntaxError: expected ':' (<ipython-input-4-efc58c10458d>, line 2)

In [5]:
a = 5
iff a==3:
  print('hello')

SyntaxError: invalid syntax (<ipython-input-5-d1e6fae154d5>, line 2)

In [6]:
a = 5
if a==3:
print('hello')

IndentationError: expected an indented block after 'if' statement on line 2 (<ipython-input-6-ccc702dc036c>, line 3)

### Other Type Of Errors

In [ ]:
# IndexError
# The IndexError is thrown when trying to access an item at an invalid index.
L = [1,2,3]
L[100]

IndexError: ignored

In [ ]:
# ModuleNotFoundError
# The ModuleNotFoundError is thrown when a module could not be found.
import mathi
math.floor(5.3)

ModuleNotFoundError: ignored

In [ ]:
# KeyError
# The KeyError is thrown when a key is not found

d = {'name':'nitish'}
d['age']

KeyError: ignored

In [ ]:
# TypeError
# The TypeError is thrown when an operation or function is applied to an object of an inappropriate type.
1 + 'a'

TypeError: ignored

In [ ]:
# ValueError
# The ValueError is thrown when a function's argument is of an inappropriate type.
int('a')

ValueError: ignored

In [ ]:
# NameError
# The NameError is thrown when an object could not be found.
print(k)

NameError: ignored

In [ ]:
# AttributeError
L = [1,2,3]
L.upper()

# Stacktrace

AttributeError: ignored

### Exceptions

If things go wrong during the execution of the program(runtime). It generally happens when something unforeseen has happened.

- Exceptions are raised by python runtime
- You have to takle is on the fly

#### **Examples**

- Memory overflow
- Divide by 0 -> logical error
- Database error

In [10]:
# Why is it important to handle exceptions
# how to handle exceptions
# -> Try except block

In [11]:
# let's create a file
with open('sample.txt','w') as f:
  f.write('hello world')

In [38]:
# try catch or except demo
try:
  with open('sample1.txt','r') as f:
    print(f.read())
except:
  print('sorry file not found')

sorry file not found

In [37]:
# Catching specific exception (try this my changing values)
d = 2
try:
  print(d)
  f = open('sample.txt','r')
  print(f.read())
  divide = 10/20
  l = [1,2,3]
  l[5]
except NameError as e:
  print(e)
except FileNotFoundError as e:
  print(e)
except ZeroDivisionError:
  print('Zero sy divide nhi hoga')
except Exception as e: # --> Check if there is any other error occurred!
  print(e)

2
hello world
list index out of range

In [42]:
# else ---> this block only executes when there is no traceback in try.
try:
  f = open('sample1.txt','r')
except FileNotFoundError:
  print('file nai mili')
except Exception:
  print('kuch to lafda hai')
else:
  print(f.read())

file nai mili

![Try-Except-Else-Finally_.png.jpg]()

In [43]:
# finally
# else
try:
  f = open('sample.txt','r')
except FileNotFoundError:
  print('file nai mili')
except Exception:
  print('kuch to lafda hai')
else:
  print(f.read())
finally:
  print('ye to print hoga hi')

hello world
ye to print hoga hi

In [ ]:
# raise Exception
# In Python programming, exceptions are raised when errors occur at runtime.
# We can also manually raise exceptions using the raise keyword.

# We can optionally pass values to the exception to clarify why that exception was raised

In [51]:
raise NameError('aise hi try kar raha hu')
# Python - Java
# try -> try
# except -> catch
# raise -> throw

NameError: aise hi try kar raha hu

In [57]:
class Bank:

  def __init__(self,balance):
    self.balance = balance

  def withdraw(self,amount):
    if amount < 0:
      raise Exception('amount cannot be -ve')
    if self.balance < amount:
      raise Exception('paise nai hai tere paas')
    self.balance = self.balance - amount

obj = Bank(10000)
try:
  obj.withdraw(15000)
except Exception as e:
  print(e)
else:
  print(obj.balance)

paise nai hai tere paas

In [68]:
class MyException(Exception):
  def __init__(self,message):
    print(message)

class Bank:

  def __init__(self,balance):
    self.balance = balance

  def withdraw(self,amount):
    if amount < 0:
      raise MyException('amount cannot be -ve')
    if self.balance < amount:
      raise MyException('paise nai hai tere paas')
    self.balance = self.balance - amount

obj = Bank(10000)
try:
  obj.withdraw(15000)
except MyException as e:
  pass
else:
  print(obj.balance)

paise nai hai tere paas

In [7]:
# creating custom exceptions
# exception hierarchy in python

In [9]:
# simple example
class SecurityError(Exception):

  def __init__(self,message):
    print(message)

  def logout(self):
    print('logout')

class Google:

  def __init__(self,name,email,password,device):
    self.name = name
    self.email = email
    self.password = password
    self.device = device

  def login(self,email,password,device):
    if device != self.device:
      raise SecurityError('bhai teri to lag gayi')
    if email == self.email and password == self.password:
      print('welcome')
    else:
      print('login error')



obj = Google('nitish','nitish@gmail.com','1234','android')

try:
  obj.login('nitish@gmail.com','1234','windows')
except SecurityError as e:
  e.logout()
else:
  print(obj.name)
finally:
  print('database connection closed')

bhai teri to lag gayi
logout
database connection closed